this folder contains two projects: whizvoice which is a webserver, and whizvoiceapp which is an Android app.
All android-related scripts need to be run from the whizvoiceapp folder, not the project root.
Please don't downgrade packages for no reason.
Whenever you change any production files in whizvoiceapp please also run `cd whizvoiceapp && ./install_debug_for_testing.sh` to kick off the build in Android Studio so we can test the change right away.
For running tests, you can `cd whizvoiceapp && ./run_tests_on_debug.sh`. Test output is also logged to test_output.log .
Please run tests if you change tests or if you change functionality covered by tests.
When you run integration tests, please also run RML to check for bugs: `/Users/ruthgracewong/.rml/bin/rml -md `git diff --name-only`
Please write tests if you add new functionality.
Please change files right away whenever you think they need to be changed. There is no need to ask for confirmation. There is no need to ask me to accept the changes either - just do it. I am using an IDE that will automatically show me any changes you made for me to review.
If you need to read files to understand how to change them to fix the problem, please do so. There is no need to ask for confirmation.
Don't try to restart the server yourself - just ask me to do it. It's on a different machine.
Please leave git commit and git push to me, though I may need your help merging sometimes.